// font-family: 'Lato', sans-serif;
// font-family: 'Montserrat', sans-serif;
$orange: #fe7e11 !default;
$gray: #d1d1d1 !default;

*{
    box-sizing: border-box;
    transition: all 0.2s;
}
.active{
    color: $orange;
}
.active_bg{
    background-color: $orange !important;
}
a{
    color: white;
    &:hover{
    text-decoration: none;
    color: $orange;
    }
}
.button{
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 8px 50px;
    border-radius: 50px;
    margin: 60px 15px 0 15px;
    background-color: transparent;
    border: 2px solid white;
}

header{
    // height: 100vh;
    background-color: #2b2a2f;
    color: white;
    .header{
        display: flex;
        flex-direction: column;
        height: 100vh;
        &-menu{
            display: flex;
            flex: 1;
            justify-content: space-between;
            align-items: center;
            .logo{
                flex: 5;
                color: $orange;
                font-weight: bold;
                font-size: 60px;
            }
           .menu {
               flex: 7;
                ul {
                    display: flex;
                    justify-content: space-between;
                    list-style: none;
                    margin-bottom: 0;
                    li{
                        font-weight: bold;
                        text-transform: uppercase;
                   }
                }
           } 

        }
        &-content{
            display: flex;
            flex: 5;
            &-text{
                flex: 7;
                display: flex;
                justify-content: space-between;
                align-items: center;
                p{
                    font-size: 20px;
                    .name{
                        font-size: 60px;
                        color: $orange;
                        font-weight: bold;
                    }
                    .profession{
                        color: $gray;
                        font-size: 24px;
                    }
                }
            }
            &-img{
                flex: 5;
                align-self: flex-end;
            }
        }
    }
}
