// font-family: 'Lato', sans-serif;
// font-family: 'Montserrat', sans-serif;
$orange: #fe7e11 !default;
$gray: #d1d1d1 !default;
$gray1: #e2e2e2 !default;
$shadow:0px 2px 13px -2px rgba(0,0,0,0.75);

*{
    box-sizing: border-box;
    transition: all 0.2s;
}
.active{
    color: $orange;
}
.active_bg{
    background-color: $orange !important;
}
a{
    color: white;
    &:hover{
    text-decoration: none;
    color: $orange;
    }
}
.button{
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 8px 50px;
    border-radius: 50px;
    margin: 60px 15px 0 0;
    background-color: transparent;
    border: 2px solid white;
}
//---------------------- HEADER
header{
    // height: 100vh;
    background-color: #2b2a2f;
    color: white;
    .header{
        display: flex;
        flex-direction: column;
        height: 100vh;
        &-menu{
            display: flex;
            flex: 1;
            justify-content: space-between;
            align-items: center;
            .logo{
                flex: 5;
                color: $orange;
                font-weight: bold;
                font-size: 60px;
            }
           .menu {
               flex: 7;
                ul {
                    display: flex;
                    justify-content: space-between;
                    list-style: none;
                    margin-bottom: 0;
                    li{
                        font-weight: bold;
                        text-transform: uppercase;
                   }
                }
           } 

        }
        &-content{
            display: flex;
            flex: 5;
            &-text{
                flex: 7;
                display: flex;
                // justify-content: space-between;
                align-items: center;
                p{
                    font-size: 20px;
                    .name{
                        font-size: 60px;
                        color: $orange;
                        font-weight: bold;
                    }
                    .profession{
                        color: $gray;
                        font-size: 24px;
                        line-height: 36px;
                        color: $gray;
                        font-weight: 400;
                    }
                }
            }
            &-img{
                flex: 5;
                align-self: flex-end;
                img{
                    width: 100%;
                }
            }
        }
    }
}
//----------------------// HEADER
//------------------------ ABOUT
.about{
    background-color: #27262b;
    color: white;
    padding-bottom: 110px;

    &-title{
        padding: 100px 10px;
        font-size: 36px;
        font-weight: bold;
        margin: 0 auto;
        text-align: center;
        p{
            margin: 0;
        }
        .line{
            margin: 0 auto;
            width: 130px;
            height: 1px;
            border-bottom:2px solid $orange;
            position: relative;
            span:nth-child(1){
                position: absolute;
                left: -12px;
                top: -5px;
                width: 12px;
                height: 12px;
                border: 2px solid white;
                border-radius: 50%;
            }
            span:nth-child(2){
                position: absolute;
                right: -12px;
                top: -5px;
                width: 12px;
                height: 12px;
                border: 2px solid white;
                border-radius: 50%;
            }
        }

    }
    &-desc{
        display: flex;
        &-img{
            flex: 4;
            border-left:10px solid $orange;
            border-bottom:10px solid $orange;
            position: relative;
            img{
                height: 100%;
                position: absolute;
                bottom: 0;
            }
        }
        &-clean{
            flex: 1;
        }
        &-content{
            flex: 6;
            &>p:nth-child(1){
                font-size: 20px;
                font-weight: 500;
                color: $gray1;
                line-height: 30px;
            }
            &>p:nth-child(2){
                color: $gray;
                font-family: 'Lato', sans-serif;
                font-weight: 400;
                line-height: 25px;
                color: $gray;
            }
            &-data{
                display: flex;
                justify-content: flex-start;
                p{
                    line-height:36px ;
                    font-family: 'Lato', sans-serif;
                    font-weight: 400;
                    color: $gray;
                    margin: 0;
                }
                &-name{
                    flex:2 ;
                }
                &-value{
                    flex: 4;
                }
            }
            &-btn{
                .button:nth-child(2){
                    background-color: transparent;
                    border: 2px solid white;
                }
            }

        }
    }

}
//----------------------// ABOUT
//---------------------- SERVICE
.service{
    color: white;
    background-color: #2b2a2f;
    padding:0 0 110px 0;
    &-cards{
        display: flex;
        flex-wrap: wrap;
        &-card{
            width: 340px;
            padding: 30px 25px ;
            text-align: center;
            background-color: #27262b;
            margin: 15px;
            &:hover{
                cursor: pointer;
                box-shadow: $shadow;
            }
            &:hover span{
                background-color: $orange;
                color: white;
                border-color: $orange;
            }
            span{
                padding: 10px 15px;
                border: 1px solid white;
                border-radius: 50%;
                background-color: white;
                color: $orange;
                font-size: 36px;
            }
            p:nth-child(2) {
                margin: 15px 0;
                color: $gray;
                font-family: 'Lato', sans-serif;
                font-weight: bold;
                line-height: 24px;
            }
            p:nth-child(3) {
                color: $gray;
                font-family: 'Lato', sans-serif;
                line-height: 24px;
                font-size: 15px;
                font-weight: 400;
            }
        }
    }

}
//----------------------// SERVICE